* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: default;
    /* overflow-x: hidden; */
}

@media screen and (max-width: 575px){
    body, html {
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    /* .slider {
        width: 100vw;
        overflow: visible;
    } */

    .slider::-webkit-scrollbar {
        height: 0;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 5em;
        margin-right: 0.5vw;
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100vw;
        height: 50px;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1em;
        color: #FFF;
        z-index: 5;
    }

    .navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
        /* width: 33%; */
    }

    .navegacao ul {
        position: absolute;
        top: 50px;
        left: 0;
        width: 50vw;
        height: calc(100vh - 50px);
        background: rgba(14, 14, 14, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        /* gap: 5px; */
        transition: transform 0.3s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .more svg{
        height: 1.2em;
    }

    .more {
       /*  width: 45%; */
    }

    .more li{
        font-size: 0.8em;
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5px;
    }

    .user img {
        width: 1.5rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        width: 100vw;
        height: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 8.5rem;
    }

    /* .banner video {
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 0;
        width: 100%
    } */


    .info {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        position: absolute;
        top: 35px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 0.5em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
        font-size: 0.5em;
        display: none;
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 20px;
        font-size: 0.5em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    button > svg {
        width: 4vw;
    }

    .assistir {
        width: 137px;
        background: #FFFFFF;
    }

    .maisi {
        width: 350px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -35px;
    }

    .recomended {
        margin: 0 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        font-size: 0.8em;
        gap: 0px;
        width: 100%;
    }

    .content {
        width: 98%;
        overflow: auto;
    }

    .content::-webkit-scrollbar{
        display: none;
    }

    .slider {
        position: relative;
        /* padding-right: 2vw;
        width: 260%; */
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    }

    .opt {
        flex: 0 0 auto;
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 150px;
        height: 85px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: scroll;
    }

   /*  .opt:hover {
        width: 330px;
        height: 360px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -45px;
    } */

    /* .opt:hover img {
        transition-delay: 0.5s;
    } */

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }
}


@media screen and (min-width: 576px) and (max-width: 767px) {
    body, html {
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    .slider {
        width: 100vw;
        overflow: visible;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 6.5em;
        margin-right: 0.5vw;
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100vw;
        height: 60px;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1em;
        color: #FFF;
        z-index: 5;
    }

    .navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* width: 24%; */
        gap: 12px;
    }

    .navegacao ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 50vw;
        height: calc(100vh - 60px);
        background: rgba(14, 14, 14, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        /* gap: 5px; */
        transition: transform 0.3s ease-in;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    
    .more {
        /* width: 30%; */
        font-size: 0.8em;
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .user img {
        width: 2rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        height: 400px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 16rem;
    }

    /* .banner video {
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 0;
        width: 100%
    } */


    .info {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 28px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 0.9em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
        font-size: 0.75em;
        /* display: none; */
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 34px;
        font-size: 0.8em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    button > svg {
        width: 4vw;
    }

    .assistir {
        width: 100px;
        background: #FFFFFF;
    }

    .maisi {
        width: 170px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -105px;
    }

    .recomended {
        margin: 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        font-size: 0.85em;
        gap: 10px;
        width: 100%;
    }

    .content {
        /* padding: 2vw; */
        width: 95%;
        overflow: auto;
    }

    .slider {
        position: relative;
        /* padding-right: 2vw; */
        /* width: 170%; */
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    }

    .opt {
        flex: 0 0 auto;
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 200px;
        height: 110px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: visible;
    }

/*     .opt:hover {
        width: 330px;
        height: 360px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -45px;
    } */

    .opt:hover img {
        transition-delay: 0.5s;
    }

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    body, html {
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    .wraper {
        width: 100%;
    }

    .slider {
        width: 100vw;
        overflow: visible;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 6.5em;
        margin-right: 0.5vw;
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100vw;
        height: 70px;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1em;
        color: #FFF;
        z-index: 5;
    }

    .navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* width: 22%; */
        gap: 16px;
    }
    
    .navegacao ul {
        position: absolute;
        top: 70px;
        left: 0;
        width: 50vw;
        height: calc(100vh - 70px);
        background: rgba(14, 14, 14, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        /* gap: 5px; */
        transition: transform 0.3s ease-in;
        font-size: 1.4em;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    
    .more {
        /* width: 28%; */
        font-size: 0.8em;
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .user img {
        width: 2rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        height: 500px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 19rem;
    }

    .info {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        top: 50px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 1.1em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
        font-size: 0.9em;
        /* display: none; */
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 35px;
        font-size: 0.8em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    button > svg {
        width: 4vw;
    }

    .assistir {
        width: 107px;
        background: #FFFFFF;
    }

    .maisi {
        width: 170px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -110px;
        width: 100%;
    }

    .recomended {
        margin: 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        font-size: 0.85em;
        gap: 10px;
        width: 100%;
    }

    .content {
        /* padding: 2vw; */
        width: 95%;
        overflow: auto;
        /* overflow: hidden; */
    }

    .slider {
        position: relative;
        /* padding-right: 2vw; */
        /* width: 170%; */
        height: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }

    .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    }

    .opt {
        flex: 0 0 auto;
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 200px;
        height: 110px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: visible;
    }

/*     .opt:hover {
        width: 330px;
        height: 360px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -45px;
    } */

    .opt:hover img {
        transition-delay: 0.5s;
    }

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    body, html{
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    .slider {
        width: 100vw;
        overflow: visible;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 6.5em;
        /* margin-right: 2vw; */
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100%;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 0.9em;
        color: #FFF;
        z-index: 5;
    }
    
    .navegacao li:hover, img:hover, .more li:hover, .more svg:hover{
        cursor: pointer;
    }
    
    .mobile-menu{
        display: none;
    }
    
    .navegacao {
        /* width: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .navegacao ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 80%; */
        gap: 12px;
    }

    .more {
        /* width: 17.5%; */
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .user img {
        width: 2rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        height: 550px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 23rem;
    }

    /* .banner video {
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 0;
        width: 100%
    } */


    .info {
        width: 38%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: absolute;
        top: 50px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 1.2em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        font-size: 1.05em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    .assistir {
        width: 137px;
        background: #FFFFFF;
    }

    .maisi {
        width: 220px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -120px;
    }
    
    .recomended {
        margin: 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        gap: 10px;
        width: 100%;
    }
    
    .slider {
        position: relative;
        /* padding-right: 2vw; */
        /* width: 120%; */
        height: 137px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
/*     .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    } */
    
    .opt {
        flex: 0 0 auto;
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 240px;
        height: 135px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: visible;
    }

    .opt:hover {
        width: 330px;
        height: 360px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -45px;
    }

    .opt:hover img {
        transition-delay: 0.5s;
    }

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }

}


@media screen and (min-width: 1200px) and (max-width: 1400px) {
    body, html{
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    .slider {
        width: 100vw;
        overflow: visible;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 6.5em;
        margin-right: 2vw;
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100%;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 0.9em;
        color: #FFF;
        z-index: 5;
    }

    .navegacao li:hover, img:hover, .more li:hover, .more svg:hover{
        cursor: pointer;
    }

    .mobile-menu{
        display: none;
    }

    .navegacao {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navegacao ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }

    .more {
        width: 17.5%;
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .user img {
        width: 2rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        height: 700px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 29rem;
    }

    /* .banner video {
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 0;
        width: 100%
    } */


    .info {
        width: 37%;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        position: absolute;
        top: 90px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 1.35em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 45px;
        font-size: 1.05em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    .assistir {
        width: 137px;
        background: #FFFFFF;
    }

    .maisi {
        width: 220px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -150px;
    }
    
    .recomended {
        margin: 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        gap: 10px;
        width: 100%;
    }
    
    .slider {
        position: relative;
        padding-right: 2vw;
        width: 120%;
        height: 137px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
/*     .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    } */
    
    .opt {
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 240px;
        height: 135px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: visible;
    }

    .opt:hover {
        width: 330px;
        height: 360px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -45px;
    }

    .opt:hover img {
        transition-delay: 0.5s;
    }

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }

}

@media screen and (min-width: 1400px) {
    body, html{
        width: 100vw;
        background: #141414;
        overflow-x: hidden;
    }

    .slider {
        width: 100vw;
        overflow: visible;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    body::-webkit-scrollbar {
        background: #a0161600;
        width: 0.5vw;
    }

    body::-webkit-scrollbar-thumb {
        background: #E50914aa;
        border-radius: 4px;
    }

    #logo {
        width: 6.5em;
        /* margin-right: 2vw; */
    }

    nav {
        background: rgba(14, 14, 14, var(--op));
        position: fixed;
        width: 100%;
        padding: 2.7vh 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-weight: 500;
        font-size: 1.2em;
        color: #FFF;
        z-index: 5;
    }
    
    .navegacao li:hover, img:hover, .more li:hover, .more svg:hover{
        cursor: pointer;
    }
    
    .mobile-menu{
        display: none;
    }
    
    .navegacao {
        /* width: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .navegacao ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 80%; */
        gap: 15px;
    }

    .more {
        /* width: 17.5%; */
    }

    .more ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }

    .user img {
        width: 2rem;
    }

    li {
        list-style: none;
        transition: 0.5s;
    }

    .navegacao li:hover {
        opacity: 0.7;
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .user svg {
        transition: 0.5s;
    }

    .user:hover svg {
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        transform: rotate(180deg);
    }

    .banner {
        padding: 2vh 4vw;
        height: 800px;
        background: linear-gradient(rgba(0, 0, 0, 0.75), rgb(0, 0, 0, 0) 10%), linear-gradient(90deg, rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0) 65%), linear-gradient(180deg, rgba(0, 0, 0, 0) 90%, rgb(0, 0, 0, 0.75)), url("https://occ-0-894-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABXISOVvvj1Dia4IhDKiRrNfHHe-BBsg5dd5tMrabhtm4ozTkN5Ykk-RKMrtUFZ4YkUNZXK2FncxQI37SGCt_YI2dPEZXDVJFNlF7.webp?r=fba");
        background-size: cover;
    }

    .banner img {
        width: 34rem;
    }

    /* .banner video {
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 0;
        width: 100%
    } */


    .info {
        width: 38%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 120px;
        color: #FFF;
        font-family: sans-serif;
        z-index: 1;
    }

    .info h3 {
        text-shadow: 1px 1px 4px #000000ad;
        font-size: 1.7em;
    }

    .info p {
        text-shadow: 1px 1px 2px #000000ad;
        font-size: 1.4em;
    }

    .buttons {
        display: flex;
        gap: 15px;
    }

    button {
        padding: 0 1vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 40px;
        font-size: 1.05em;
        font-weight: 600;
        border: none;
        border-radius: 5px;
    }

    .assistir {
        width: 137px;
        background: #FFFFFF;
    }

    .maisi {
        width: 220px;
        background: #777777bb;
        color: #FFF;
    }

    .container {
        margin-top: -150px;
    }
    
    .recomended {
        margin: 4vw;
        display: flex;
        flex-direction: column;
        color: #FFF;
        font-family: sans-serif;
        font-size: 1.5em;
        gap: 15px;
        width: 100%;
    }
    
    .slider {
        position: relative;
        /* padding-right: 2vw; */
        /* width: 120%; */
        height: 137px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    
/*     .prox {
        position: absolute;
        left: 75.7%;
        width: 65px;
        height: 100%;
        background: rgba(24, 24, 24);
        opacity: 0.5;
        z-index: 5;
    } */
    
    .opt {
        flex: 0 0 auto;
        border-radius: 4px;
        position: relative;
        background: #141414;
        width: 240px;
        height: 135px;
        transition: all 0.2s ease-in-out;
        z-index: 1;
        transition-delay: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.333);
        overflow: hidden;
    }

    .opt img {
        width: 100%;
    }

    .slider {
        overflow: visible;
    }

    .opt:hover {
        width: 380px;
        height: 420px;
        z-index: 2;
        border-radius: 7px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
        margin: 0 -70px;
    }

    .opt:hover img {
        transition-delay: 0.5s;
    }

    button:hover {
        opacity: 0.85;
    }

    .minfo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1vh 1vw;
        width: 100%;
        gap: 12px;
        font-size: 0.9em;
    }

    .btns,
    .inf,
    .gen {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 5px; */
        flex-wrap: wrap;
    }

    .gen {
        justify-content: left;
        gap: 0 10px;
    }

    /* .inf{
        width: 100%;
    } */

    .curt {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .qual {
        font-size: 11px;
        padding: 2px 5px;
        font-weight: 200;
        border: 1px solid #ffffff88;
    }

    .gen h4 {
        font-weight: 500;
    }

    .inf img {
        width: 24px;
    }

    .rel {
        font-size: 15px;
        color: #1ED760;
    }

    h5 {
        color: #888;
        font-size: 17px;
    }

}